<h1>User <%= @user.id %> <%= @user.username %></h1> 


<% if @user.events.empty? %>
  <h3> <%= @user.username %> Has no events coming up </h3>
<% else %>
  Number of events: <%=  @user.events.size %>
  <br><br>
  <% @all_events = @user.events %>
  <% @all_events.each do |e| %>
    <%= e.description %>
  <% end %>
<% end %>




<% %>
<% %>
<% %>
<% %>
<% %>

<br>
<br>
<%= link_to 'New User', new_user_path %>
 <%= link_to "Sign up", sign_up_path %>