<h1>User <%= @user.id %> <%= @user.username %></h1> 


<% if @user.events.empty? %>
  <h3> <%= @user.username %> Didn't made any event </h3>
<% else %>
  Number of events mades: <%=  @user.events.size %>
  <br><br>
  <% @all_events = @user.events %>
  <% @all_events.each do |e| %>
    <%= e.description %>
  <% end %>
<% end %>

 <% @user.attended_events.each do |event| %>
      <tr>
        <td><%= event.description %></td>
        <td><%= event.id %></td>
      </tr>
  <% end %>




<% %>
<% %>
<% %>
<% %>
<% %>

<br>
<br>
<%= link_to 'New User', new_user_path %>
 <%= link_to "Sign up", sign_up_path %>