<h1>Editing Event</h1>

<%= link_to 'Show', @event %> <br>
<%= link_to 'Back', events_path %>

<%= form_for @event do |form| %>
 
 <% if @event.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-danger">
      The form contains <%= pluralize(@event.errors.count, "error") %>.
    </div>
    <ul>
    <% @event.errors.full_messages.each do |msg| %>
      <li class='text-danger'><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

 <%= form.label :description %>
 <%= form.text_area :description %>
  <%= tag(:br) %>
  <%= tag(:br) %>
   <%= form.label :date %>
 <%= form.date_field :date %>
 <%= form.submit  %>
<% end %>

