<p id="notice"><%= notice %></p>
 <div>
 <ul>
 </ul>
 <li>
<%= link_to 'New event', new_event_path %></li>
 </div>
<table>
  <tbody>
    <h2>Upcoming events</h2>
    <% @event.upcoming.each do |event| %>
      <tr>
        <td><%= event.creator.username%></td>
        <td><%= event.name %></td>
        <td><%= event.description %></td>
        <td><%= event.date %></td>
        <p> <%= event_option %> </p>

      </tr>
    <% end %>
  </tbody>
</table>


<table>
  <tbody>
    <h2>Past Events</h2>
    <% @event.past.each do |event| %>
      <tr class="test1">
        <td><%= event.creator.username%></td>
        <td><%= event.name %></td>
        <td><%= event.description %></td>
        <td><%= event.date %></td>
        <p> <%= event_option %> </p>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
