
<section>
<p>Event Organiser: <strong><%= @event.creator.username.upcase!%></strong></p>
<p>Number of Attendees: <%= @event.attendees.count %></p>

</div>
</section>

<section>
<article>
  <p>
    <h2> Event: </h2>
    <%= @event.description %>
  </p><br>   
      <%= show_status(current_user) %> 
  <a>
    <p> <%= @event.description %> | <%= @event.date %> </p>
  </a>
</article>

<p> <%= event_option %> </p>

<article>
  <h1>List of Attendees</h1>
    <%= show_all_attendees%>
</article>
</section>



