<h1>Event <%= @event.id %> <%= @event.creator.username %></h1> 

<h2> <%= @event.description %> </h2>

 <% @event.attendees.each do |attendant| %>
      <tr>
        <td><%= attendant.username %></td>
      </tr>
    <% end %>

<% %>
<% %>
<% %>
<% %>

<br>
<br>
<%= link_to 'New Event', new_event_path %>